* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 48px;
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}

strong {
  color: hsla(160, 100%, 30%, 1);
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.intro-chunk {
  max-width: 415px;
}

.intro-chunk p:last-child {
  margin-bottom: 0;
}

.card,
.intro-chunk {
  padding-left: 24px;
  padding-right: 24px;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
}

.card {
  background-color: hsla(0, 0%, 100%, 1);
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding: 8px 24px;
}

.indented-heading {
  max-width: fit-content;
  background-color: hsla(45, 100%, 50%, 1);
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: 2px;
}
